<ul class="nav navbar-nav">
  <% if current_user %>
   <li>
    <%= link_to "new chatroom", new_chatroom_path%>
   </li>
  <% end %>
  
  <li>
    <%= link_to "chatrooms", chatrooms_path %>
  </li> 
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li>
      <%= link_to "Log Out", logout_path, method: "delete" %>
    </li>
  <% else %>
    <li><%= link_to "Sign Up", signup_path %></li>
    <li><%= link_to "Log In", login_path %></li>
  <% end %>
</ul>